{% extends 'layout/base.html.twig' %}

{% block body %}

<div class="container py-5">
	<div class="row g-3">
		{% for reform in reforms %}
			<div class="col-md-3">
				<h2><a href="{{path('reform', {'id': reform.reform_id})}}">{{reform.reform_name}}</a></h2>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}