<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">

	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Symfony 5.4 testing{% endblock %}</title>
		{% block stylesheets %}{% endblock %}

		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>

	<body>
		{% block body %}{% endblock %}
		<script src="/js/bootstrap.min.js"></script>
		{% block javascripts %}{% endblock %}
	</body>

</html>
